* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

i {
  pointer-events: none;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#9ae9dd), to(#254768));
  background: linear-gradient(90deg, #9ae9dd, #254768);
  max-height: 100vh;
  max-width: 100vw;
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* x- axis */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* y-axis */
}

header h1 {
  color: white;
  font-size: 3rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Input arrow remove */
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
  /* Input arrow remove */
}

form input,
form button {
  border: 1px solid transparent;
}

form .eventBox {
  height: 20px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50px;
  text-align: center;
}

form .event {
  height: 20px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50px;
  text-align: center;
}

form .eventBox::-webkit-input-placeholder {
  text-align: center;
}

form .eventBox:-ms-input-placeholder {
  text-align: center;
}

form .eventBox::-ms-input-placeholder {
  text-align: center;
}

form .eventBox::placeholder {
  text-align: center;
}

form .AddButton {
  height: 20px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(6, 50, 41, 0.25);
  color: white;
}

form .AddButton:hover {
  background-color: #e66767;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type="number"] {
  -moz-appearance: textfield;
}

div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  height: 7vh;
  width: 35vw;
  background-color: rgba(22, 58, 51, 0.25);
  margin-top: 20px;
  border-radius: 60px;
  font-size: 0.9rem;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

div.content button {
  width: 20px;
  height: 20px;
  font-size: 1rem;
  margin-left: 10px;
  margin-bottom: 3px;
  background-color: rgba(22, 58, 51, 0);
  cursor: pointer;
  border: 1px solid transparent;
}

div.function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.function button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: rgba(22, 58, 51, 0.3);
  color: white;
  cursor: pointer;
}

div.function button:hover {
  background-color: #e66767b5;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fadeout {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
}

@keyframes fadeout {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
}
/*# sourceMappingURL=style.css.map */